Content_Creator.json
{
  "name": "Content Creator",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "64560154-95f3-42cf-8d1d-fbbb724ab1d5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "# Role\nYou are an expert content writer.\nCreator SEO friendly posts, articles etc. based on the user's query"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "7ebe5a03-876f-46b2-b985-a38e63976a9e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "id": "6cda832a-fafb-408b-8122-9f9b7c1f6f75",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "l8FNlTjuDhMWTtV0",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Generate 10 unique title ideas for a YouTube tutorial on buidling AI AGents in n8n."
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76428c78-54d8-49a0-b774-45e8c43a1f16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e18f4425eea19669ed4128549d988a89c1f695f4e3895e608af8476842be160"
  },
  "id": "XGzr34o57kS1C40f",
  "tags": []
}