Email_Agent.json
{
  "name": "Email Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "23139dd4-f39a-4f42-8247-d620fb195145",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        220
      ],
      "id": "3f61d96b-f303-49bf-9d94-42a6fa77e6b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "l8FNlTjuDhMWTtV0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        360,
        220
      ],
      "id": "fcf649cc-cb26-477d-9be9-40e83c4cbf52",
      "name": "Send Email",
      "webhookId": "f6ddb1dd-d3eb-43d5-bc98-6d9d34cd464b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Se6ci6VZcDgQ0rGu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 3,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        500,
        220
      ],
      "id": "68e72c13-7725-40f7-8d4f-8c0014e68c85",
      "name": "Unread Emails",
      "webhookId": "9d9121a9-fa3e-45e0-845c-0ee79f215245",
      "credentials": {
        "gmailOAuth2": {
          "id": "Se6ci6VZcDgQ0rGu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        220
      ],
      "id": "0c11bb82-9652-4975-a27b-593a1426c5fb",
      "name": "Reply to Email",
      "webhookId": "64588cf8-2c51-4a38-9680-17b4de3ddfab",
      "credentials": {
        "gmailOAuth2": {
          "id": "Se6ci6VZcDgQ0rGu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "7f171fe6-0a61-4c9c-898d-0780cb77c3e6",
      "name": "Email Agent"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Reply to Sushant, asking him to keep eye on the project progress."
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Unread Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e7fe506f-b2e1-4686-897b-f4731dcdea94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e18f4425eea19669ed4128549d988a89c1f695f4e3895e608af8476842be160"
  },
  "id": "onV41lvVxpHwHOUS",
  "tags": []
}